/*Card Item*/
.card-item {
  margin-bottom: 1rem;

  .button {
    padding-left: 0;
    padding-right: 0;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-title a {
    font-weight: bold;
  }

  .card-title a,
  h6.author {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
  }

  .card-img-top {
    height: 250px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      height: 350px;
    }
  }

  &.landscape {
    height: 100%;

    .card-title {
      a {
        white-space: normal;
        text-overflow: unset;
        word-wrap: normal;
      }
    }

    .card-img-top {
      height: 200px;
    }
  }
}
